{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav class="navbar">
    <a href="">Home</a>
    <a href="">Cadastro</a>
    <a href="">Lista</a>
    <a href="">Login</a>
</nav>

<section class="banner">    
    <img class="" src="{% static 'img/banner.jpg' %}" alt="">
</section>

<section class="box-text">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum exercitationem neque dolores quibusdam dicta?
        Facere ipsa odio saepe. Aliquid repellendus commodi eveniet dolorem laudantium ipsa voluptates blanditiis,
        quidem asperiores autem quam tempora dolores, sequi facilis corrupti enim repudiandae vero! Iste!
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est labore, expedita quis fugit ea modi nam qui,
        necessitatibus magni optio odio. Atque, quisquam facilis. Architecto inventore doloremque voluptas harum
        voluptatibus itaque, corporis nobis maxime accusamus laborum tenetur, cum delectus. Rem quia nemo autem nisi
        totam? Molestias eaque molestiae hic tempore.
    </div>
</section>
{% endblock %}